*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f_opens{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #2196f3;
}

.cont_form_log{
    position: relative;
    top: -2rem;
    width: 400px;
    text-align: center; 
    z-index: 3; 
    color: #797e83;  
    border-radius: 8px;
    padding: 4.5rem 1rem 5.5rem 1rem;
    background-color: #e9eaeb;
}

.alert{
    background-color: #f82e2e;
    padding: .8rem 0;
    font-size: 1.2rem;
    color: white;
    width: 100%;   
    margin: .5rem 0;
    display: none;
}

.cont_form_log form{
    display: flex;
    flex-direction: column;   
}

form input{
    outline: none;
    font-size: .85rem;
    padding: .9rem .5rem;
    margin: .7rem 0;
    border: 0;
    border-radius: 5px;
    color: #464849;  
    font-family: 'Roboto', sans-serif;
}

.group_login{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.group_login > input{
    background-color: #fc9c6c;
    padding: .5rem 1.8rem;
    color: white;
    font-size: 1.2rem;
    transition: 1s;
    cursor: pointer;
}

.group_login > input:hover{
    background-color: #c0734c;
}